<mjml>
  <mj-head>
    <mj-attributes>
      <mj-font name="Lato" href="https://fonts.googleapis.com/css?family=Lato" />
      <mj-all font-family="Lato, Arial" padding="0"></mj-all>
      <mj-text align="center" color="#414042" font-size="20px"></mj-text>
      <mj-divider padding="20px" />
      <mj-section background-color="#F9F9F9" padding="20px" />
      <mj-class name="statement-row" font-size="12px" letter-spacing="0.16px" line-height="21px" />
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image padding="10px 0" width="100px" href="https://thrivesavings.com" src="https://s3.ca-central-1.amazonaws.com/public-resources-thrive-ca-central-1/images/thriveLogo.png" />
        <mj-divider border-width="1px" border-color="lightgrey" />
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text font-size="11px" letter-spacing="1px">Keep it up
          <%= user.firstName %>!</mj-text>
        <mj-text font-weight="bold" padding-top="10px">Your
          <%= user.month %> Summary</mj-text>
      </mj-column>
    </mj-section>

    <mj-section padding-top="40px">
      <mj-group>
        <mj-column>
          <mj-text font-weight="bold" font-size="30px" letter-spacing="1px">
            <%= user.totalSaved %>
          </mj-text>
          <mj-text padding-top="10px" font-size="11px" letter-spacing="1px">Saved this month</mj-text>
        </mj-column>
        <mj-column>
          <mj-text font-weight="bold" font-size="30px" letter-spacing="1px">
            <%= user.balance %>
          </mj-text>
          <mj-text padding-top="10px" font-size="11px" letter-spacing="1px">Your current balance</mj-text>
        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-divider border-width="1px" border-color="lightgrey" />
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text font-weight="bold" padding-top="10px">Your January Summary</mj-text>
      </mj-column>
    </mj-section>

    <mj-section padding="5px 20px">
      <mj-group>
        <mj-column>
          <mj-text font-size="12px" letter-spacing="1.5px">DATE</mj-text>
        </mj-column>
        <mj-column>
          <mj-text font-size="12px" letter-spacing="1.5px">ACTIVITY</mj-text>
        </mj-column>
        <mj-column>
          <mj-text font-size="12px" letter-spacing="1.5px">TOTAL</mj-text>
        </mj-column>
      </mj-group>
    </mj-section>
    <mj-section padding="0 20px">
      <mj-column>
        <mj-divider padding="5px 20px" border-width="1px" border-color="#D8D8D8" />
      </mj-column>
    </mj-section>

    <% for (var i = 0; i < user.history.length; i++) { var transaction = user.history[i]; %>
    <mj-section padding="5px 20px">
      <mj-group>
        <mj-column>
          <mj-text mj-class="statement-row">
            <%= transaction.dateMonthOnly %>
          </mj-text>
        </mj-column>
        <mj-column>
          <mj-text mj-class="statement-row" color=<%=transaction.activity.color %>>
            <%= transaction.activity.amountInDollars %>
          </mj-text>
          <mj-text mj-class="statement-row" letter-spacing="1px" color="#D8D8D8" text-transform="uppercase">
            <%= transaction.activity.typeToDisplay %>
          </mj-text>
        </mj-column>
        <mj-column>
          <mj-text mj-class="statement-row" letter-spacing="1.5px">
            <%= transaction.totalInDollars %>
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>
    <% } %>

    <mj-section>
      <mj-column>
        <mj-divider border-width="1px" border-color="lightgrey" />
      </mj-column>
    </mj-section>

    <mj-section padding-top="5px">
      <mj-column>
        <mj-text font-size="10px" letter-spacing="1px">Questions? Contact us at help@thrivesavings.com</mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="5px">
      <mj-group>
        <mj-column />
        <mj-column />
        <mj-column>
          <mj-image width="20px" href="https://www.instagram.com/thrivesavings/" src="https://s3.ca-central-1.amazonaws.com/public-resources-thrive-ca-central-1/images/social-icons/instagram.png" />
        </mj-column>
        <mj-column>
          <mj-image width="20px" href="https://www.facebook.com/thrivesavings" src="https://s3.ca-central-1.amazonaws.com/public-resources-thrive-ca-central-1/images/social-icons/facebook.png" />
        </mj-column>
        <mj-column>
          <mj-image width="20px" href="https://twitter.com/thrivesavings" src="https://s3.ca-central-1.amazonaws.com/public-resources-thrive-ca-central-1/images/social-icons/twitter.png" />
        </mj-column>
        <mj-column>
          <mj-image width="20px" href="https://thrivesavings.com" src="https://s3.ca-central-1.amazonaws.com/public-resources-thrive-ca-central-1/images/social-icons/website.png" />
        </mj-column>
        <mj-column />
        <mj-column />
      </mj-group>
    </mj-section>
    <mj-section padding-top="5px">
      <mj-column>
        <mj-text font-size="10px" letter-spacing="1px">Your privacy is important to us. View our <a href="https://thrivesavings.com/privacy-policy">Privacy Policy</a></mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="5px">
      <mj-column>
        <mj-text font-size="10px" letter-spacing="1px">&copy; 2019 Thrive Savings. All rights reserved.</mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="5px" padding-bottom="40px">
      <mj-column>
        <mj-text font-size="10px" letter-spacing="1px">Thrive Savings, Inc. 6-10 Dundas St E | Toronto, ON M5B 2G9</mj-text>
      </mj-column>
    </mj-section>

  </mj-body>
</mjml>